div.form
	form.form__form(action="#" method="post")
		div.form__body
			div.form__info
				p.form__text Оптовый прайс-лист на нашу продукцию Вы можете получить послав запрос на&nbsp;e&#8209;mail:&nbsp;
					span opttpk@mail.ru 
			div.form__btn
				+btn({text: 'Отправить запрос', type: 'submit'})