section.dealers(id="dealers")
	div.container
		div.row
			div.col-12.col-md-8.offset-md-2
				h2.h1.dealers__title хотите с нами работать?
				p.text.text--lh-md Приглашаем к сотрудничеству дилеров для реализации нашей продукции.
				p.text.text--lh-md Для наших партнёров предусмотрена гибкая система скидок от действующего прайса.
				p.text.text--lh-md Для получения прайса отправьте карту партнера на почту: 
					a.link(href="mailto:tpk-2020@mail.ru") tpk-2020@mail.ru