section.wholesalers(id="wholesalers")
	div.container
		div.row
			div.col-12.col-md-6.order-2.order-md-1
				div.wholesalers__img
					img.img(src="images/wholesalers__img-01.jpg" alt="Детали")
			div.col-12.col-md-6.order-1.order-md-2
				div.wholesalers__body
					h2.h1.wholesalers__title Оптовикам
					p.text.wholesalers__text-strong
						strong Для оптовых клиентов мы предлагаем следующие условия:
					ul.wholesalers__list
						li.wholesalers__item
							p.text.text--gray Существенные скидки на мелкий и крупный опт на всю нашу продукцию
						li.wholesalers__item
							p.text.text--gray Помощь с выбором ассортимента предлагаемой продукции
						li.wholesalers__item
							p.text.text--gray Осуществление поддержки на всех стадиях работы с нами
						li.wholesalers__item
							p.text.text--gray Предоставление различных сопроводительных документов  на продукцию
						li.wholesalers__item
							p.text.text--gray Организацию упаковки и доставки груза в любую точку России
						li.wholesalers__item
							p.text.text--gray Оплата заказа любым удобным для Вас способом
						li.wholesalers__item
							p.text.text--gray Индивидуальный подход к каждому клиенту
