section.advantages
	div.container
		div.row
			div.col-12
				h2.h1.advantages__title Наши приимущества
				ul.advantages__list
					li.advantages__item
						div.advantages__item-number
						p.text.advantages__list-text Собственный производственный цех
					li.advantages__item
						div.advantages__item-number
						p.text.advantages__list-text Современное оборудование
					li.advantages__item
						div.advantages__item-number
						p.text.advantages__list-text Гарантия качества товара
					li.advantages__item
						div.advantages__item-number
						p.text.advantages__list-text Гибкая система скидок для постоянных клиентов
					li.advantages__item
						div.advantages__item-number
						p.text.advantages__list-text Доставка товара в любую точку РФ
					li.advantages__item
						div.advantages__item-number
						p.text.advantages__list-text Ответственность за каждый проданный товар 
					li.advantages__item
						div.advantages__item-number
						p.text.advantages__list-text Собственный склад комплектующих