section.profitable
	div.container
		div.row
			div.col-12.col-md-6
				div.profitable__body
					h2.h1.profitable__title Почему оптовикам выгодно и удобно с нами работать?
					ul.profitable__list
						li.profitable__item
							p.text
								strong 1. Ценовая политика: 
							p.text.text--gray для каждого оптовика мы разрабатываем отдельную персональную систему скидок.
						li.profitable__item
							p.text
								strong 2. Логистическая политика: 
							p.text.text--gray по вашему заказу мы собираем небольшие партии товара и комплектуем их на одном из складов в Москве. Своими силами отвозим скомплектованные товар до транспортной компании.
						li.profitable__item
							p.text
								strong 3. Специальные условия: 
							p.text.text--gray в каждом конкретном случае нами рассматриваются условия работы с оптовиками, и при возможности мы с удовольствием предоставляем специальные условия работы.
						li.profitable__item
							p.text
								strong 4. Политика корректности работы:
							p.text.text--gray в своей работе мы опираемся на принципы справедливости и поэтому:
								br
								|- Мы не предоставляем небольшим оптовикам цены крупных оптовиков.
								br
								|- Мы не занимаемся демпингом.
			div.col-12.col-md-6
				div.profitable__img
					img.img(src="images/profitable__img-01.jpg" alt="детали")