section.other(id="other")
	div.container
		div.row
			div.col-12
				h2.h1.other__title Прочее
		div.row
			div.col-12.col-md-4.col-lg-3.other__flex
				div.item-card
					+card({img: 'kran_babochka.png', alt: 'Кран бабочка: 1,5 дюйма (ф38)', img_title: 'Кран бабочка: 1,5 дюйма (ф38)', title: 'Кран бабочка: 1,5 дюйма (ф38)', info_1: 'Цена без НДС: средний опт', price_1: '1270 руб.',  info_2: 'Цена без НДС: крупный опт', price_2: 'Уточняйте', })
			div.col-12.col-md-4.col-lg-3.other__flex
				div.item-card
					+card({img: 'kran_babochka.png', alt: 'Кран бабочка: 2 дюйма (ф51)', img_title: 'Кран бабочка: 2 дюйма (ф51)', title: 'Кран бабочка: 2 дюйма (ф51)', info_1: 'Цена без НДС: средний опт', price_1: 'Уточняйте',  info_2: 'Цена без НДС: крупный опт', price_2: 'Уточняйте', })
			div.col-12.col-md-4.col-lg-3.other__flex
				div.item-card
					+card({img: 'tp_101.png', alt: 'Электронный термометр TP-101 ', img_title: 'Электронный термометр TP-101 ', title: 'Электронный термометр TP&#8209;101', info_1: 'Цена без НДС: средний опт', price_1: '85 руб.',  info_2: 'Цена без НДС: крупный опт', price_2: 'Уточняйте', })
			div.col-12.col-md-4.col-lg-3.other__flex
				div.item-card
					+card({img: 'wt_1.png', alt: 'Электронный термометр WT-1', img_title: 'Электронный термометр WT-1', title: 'Электронный термометр WT&#8209;1', info_1: 'Цена без НДС: средний опт', price_1: '95 руб.',  info_2: 'Цена без НДС: крупный опт', price_2: 'Уточняйте', })
			div.col-12.col-md-4.col-lg-3.other__flex
				div.item-card
					+card({img: 'klapan_zbrosa.png', alt: 'Клапан сброса давления', img_title: 'Клапан сброса давления', title: 'Клапан сброса давления', info_1: 'Цена без НДС: средний опт', price_1: '40 руб.',  info_2: 'Цена без НДС: крупный опт', price_2: 'Уточняйте', })
			div.col-12.col-md-4.col-lg-3.other__flex
				div.item-card
					+card({img: 'mufta_nerzhaveushaa(304).png', alt: 'Муфта нержавеющая (304) 1 1/4“ МАМА', img_title: 'Муфта нержавеющая (304) 1 1/4“ МАМА', title: 'Муфта нержавеющая (304) 1 1/4“ МАМА', info_1: 'Цена без НДС: средний опт', price_1: '75 руб.',  info_2: 'Цена без НДС: крупный опт', price_2: 'Уточняйте', })
			div.col-12.col-md-4.col-lg-3.other__flex
				div.item-card
					+card({img: 'nipel_pod_svarku.png', alt: 'Ниппель под сварку 1/2“ ПАПА', img_title: 'Ниппель под сварку 1/2“ ПАПА', title: 'Ниппель под сварку 1/2“ ПАПА', info_1: 'Цена без НДС: средний опт', price_1: '50 руб.',  info_2: 'Цена без НДС: крупный опт', price_2: 'Уточняйте', })
			div.col-12.col-md-4.col-lg-3.other__flex
				div.item-card
					+card({img: 'ten_2_duim_(3kw).png', alt: 'ТЭН (3 кВт)', img_title: 'ТЭН (3 кВт)', title: 'ТЭН (3 кВт) с установочным отверстием Clamp 2 дюйма, без регулятора мощности.', info_1: 'Цена без НДС: средний опт', price_1: '1300 руб.',  info_2: 'Цена без НДС: крупный опт', price_2: 'Уточняйте', })