section.nozzle(id="nozzle")
	div.container
		div.row
			div.col-12
				h2.h1.nozzle__title насадка
		div.row
			div.col-12.nozzle__flex
				div.item-card
					+card({img: 'nasadka.png', alt: 'Насадка СПН 3,5*3,5 ( 0,25)', img_title: 'Насадка СПН 3,5*3,5 ( 0,25)', title: 'Насадка СПН 3,5*3,5 ( 0,25)', info_1: 'Цена без НДС: средний опт', price_1: '1000 руб/кг',  info_2: 'Цена без НДС: крупный опт', price_2: 'Уточняйте' })